---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Just Do Swift is where ambitious developers learn by building.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
     
      <p class="text-lg leading-relaxed text-slate-500">

      Just Do Swift provides actionable insights about SwiftUI in the form of weekly newsletters and digital learning products.

      <br/>
      <br/>
      Our content provides real-world examples through structured newsletters, ebooks, and SwiftUI component packs specifically for iOS developers who would prefer not sort through random tutorials or hypothetical theories to get something done.

      <br/>
      <br/>

      Just Do Swift is a product of Just Do Swift, LLC, a U.S. registered company, developing digital products and educational content for the SwiftUI development community.

      <br/>
      <br/>
      Company Name: Just Do Swift, LLC  
      <br/>
      Business Address: 131 Continental Dr Suite 305 Newark, DE, 19713 US
      <br/>
      Contact Email: justdoswift@substack.com  
      </p>
    </div>
    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-sm transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div> -->
  </Container>
</Layout>
