---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free access",
      "Sample chapter: SwiftUI Basics",
      "SwiftUI Cheatsheet PDF",
      "Free-tier newsletter",
      "Limited email support",
      "Access to Public Code Samples",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Pro Bundle",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Beginner Pack features",
      "Full eBook: SwiftUI for iOS Developers",
      "5 premium video tutorials",
      "Reusable SwiftUI components (ZIP)",
      "Early access to new content",
      "Email support within 48h",
    ],
    button: {
      text: "Buy Now",
      link: "#",
    },
  },
  {
    name: "SwiftUI Mastery Series",
     price: {
      monthly: "$49",
      annual: "$44",
      discount: "10%"
    },
    popular: false,
    features: [
      "All Pro Bundle features",
      "Full course video library (20+ videos)",
      "Private Discord for members",
      "Monthly live Q&A + recordings",
      "Personalized code review (2/month)",
      "Use all templates in commercial apps",
      "1:1 support via email or Zoom",
    ],
    button: {
      text: "Upgrade Now",
      link: "#",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Professional, Practical, and Predictable. For SwiftUI learners at every stage.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
